{% extends "base.html" %}
{% block title %}Features{% endblock %}
{% block content %}

<!-- features page -->
  <div class="container-fluid">
    <!-- hero section -->
    <div class="row g-0 p-0 mb-4 mx-auto" style="width: 90%;">
        <div class="text-center mt-3">
            <h1 class="fw-bolder mb-4">
                Features
            </h1>
            <h2 class="fw-bold mb-4">
                What can QR Codes do for you?
            </h2>
            <p class="mb-0">
                QR COdes have become quite popular as smartphones
                became instrumental to code scanning. 
            </p>
            <p class="mt-0 mb-5">
                They have been 
                employed in a number of beneficial ways, and QReate is 
                here to help you find how they can be useful to you.
            </p>
            <div class="feat mx-auto">
                <img 
                    src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660290505/images%20and%20logos/pana_jlkjvm.png" 
                    alt=""
                    class="img-fluid mb-5"
                />
            </div>
        </div>
    </div>
    <!-- cards section -->
    <div class="row justify-content-around mb-md-5 mb-0 mx-auto card-section">
        <div class="mt-1">
            <h1 class="fw-bolder text-center mb-md-5 mb-3">Most used QR code features</h1>
        </div>
        <div class="card text-center col-md-5 col-12 my-3 mb-md-5 p-0">
            <img src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660290499/images%20and%20logos/image_12_o38mia.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title fw-bold mb-3">Payments</h4>
                <p class="card-text mb-4">
                    In a world that is going cashless, QR Codes have proven
                    to be very effective. Embed payment links into your code and 
                    access them with a quick scan.
                </p>
            </div>
        </div>
        <div class="card text-center col-md-5 col-12 my-3 mb-md-5 p-0">
            <img src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660290505/images%20and%20logos/image_13_vznpsx.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title fw-bold mb-3">View Documents</h4>
                <p class="card-text mb-4">
                    QR Codes are very helpful with minimalistic documentation. 
                    Do away with more papers and link everything in a QR Code.
                </p>
            </div>
        </div>
        <div class="card text-center col-md-5 col-12 my-3 my-md-0 p-0">
            <img src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660290483/images%20and%20logos/Group_747_yoe3kd.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title fw-bold mb-3">Centre storage</h4>
                <p class="card-text mb-4">
                    Go fully digital with QR Codes. Link all your important documents to unique 
                    QR Codes and have them stored in one QR Code where they can be accessed easily.
                </p>
            </div>
        </div>
        <div class="card text-center col-md-5 col-12 my-3 my-md-0 p-0">
            <img src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660290498/images%20and%20logos/image_15_juamae.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title fw-bold mb-3">Sharing Information</h4>
                <p class="card-text mb-4">
                    Enjoy quick and seamless sharing of all types of documents with 
                    QR Codes. You can share PDFs, Audio and Images using QReate generating tool.
                </p>
            </div>
        </div>
    </div>
    <!-- dynamic and static -->
    <div class="row justify-content-around mb-md-5 mb-0 mx-auto card-section">
        <div class="my-3 text-center">
            <h1 class="fw-bold my-4">QReate provides both Dynamic and Static QR Codes.</h1>
            <h5 class="mb-4 code-type"> The differences between both types of QR Codes is in the changes and updates possibilities. </h5>
        </div>
        <div class="card text-center col-md-5 col-12 my-3 my-md-0 p-0">
            <img src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660290480/images%20and%20logos/Frame_781_lhdvro.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title fw-bold mb-3">Dynamic QR Codes</h4>
                <p class="card-text mb-4">
                    A dynamic QR Code is a QR Code that can be edited as many times as
                    needed without having to reprint and redeploy the code. You can change 
                    little details in the information embeded, or change the URL completely.
                </p>
            </div>
        </div>
        <div class="card text-center col-md-5 col-12 my-3 my-md-0 p-0">
            <img src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660290487/images%20and%20logos/Group_748_b0k8uk.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title fw-bold mb-3">Static QR Codes</h4>
                <p class="card-text mb-4">
                    A static QR Code is a QR Code that, once generated, cannot be 
                    overwritten. It can store information that is uneditable. It can 
                    be used where the information needs not to be changed, or for one-off campaigns.
                </p>
            </div>
        </div>
    </div>
    <!-- testimonials -->
    <div class="row justify-content-around mb-md-5 mb-0 mx-auto card-section">
        <div class="mt-4 text-center">
            <h1 class="fw-bolder mb-4 mb-md-5">Testimonials</h1>
        </div>
        <div id="carouselBasicExample" class="carousel carousel-dark d-md-none" data-bs-ride="carousel">
			<!-- Indicators -->
			<div class="carousel-indicators">
				<button
					type="button"
					data-bs-target="#carouselBasicExample"
					data-bs-slide-to="0"
					class="active"
					aria-current="true"
					aria-label="Slide 1"
					style="width: 7px; height: 7px; border-radius: 100%;"
				></button>
				<button
					type="button"
					data-bs-target="#carouselBasicExample"
					data-bs-slide-to="1"
					aria-label="Slide 2"
					style="width: 7px; height: 7px; border-radius: 100%;"
				></button>
				<button
					type="button"
					data-bs-target="#carouselBasicExample"
					data-bs-slide-to="2"
					aria-label="Slide 3"
					style="width: 7px; height: 7px; border-radius: 100%;"
				></button>
			</div>

			<!-- Inner -->
			<div class="carousel-inner">
				<!-- Single item -->
				<div class="carousel-item active" data-bs-interval="5000">
					<div class="card text-center col-md-3 col-12 my-3 my-md-0 p-0">
                        <img src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660290504/images%20and%20logos/image_18_rgldnk.png" class="card-img-top" alt="...">
                        <div class="card-body text-dark">
                            <h4 class="card-title fw-bold mb-3">Tomiwa, Restaurant owner</h4>
                            <p class="card-text mb-4">
                                Using QReate for my restaurant’s menu and payment has been amazing. 
                                Very good for business.
                            </p>
                        </div>
                    </div>
				</div>
			
				<!-- Single item -->
				<div class="carousel-item" data-bs-interval="5000">
					<div class="card text-center col-md-3 col-12 my-3 my-md-0 p-0">
                        <img src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660290500/images%20and%20logos/image_19_tpznmb.png" class="card-img-top" alt="...">
                        <div class="card-body text-dark">
                            <h4 class="card-title fw-bold mb-3">Sharon, Event Planner </h4>
                            <p class="card-text mb-4">
                                QReate has help cut a lot of cost and save time with registration. 
                                We scan attendees codes and viola!
                            </p>
                        </div>
                    </div>
				</div>
			
				<!-- Single item -->
				<div class="carousel-item" data-bs-interval="5000">
                    <div class="card text-center col-md-3 col-12 my-3 my-md-0 p-0">
                        <img src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660290501/images%20and%20logos/image_20_dqex8i.png" class="card-img-top" alt="...">
                        <div class="card-body text-dark">
                            <h4 class="card-title fw-bold mb-3">Mark, CEO</h4>
                            <p class="card-text mb-4">
                                Easier branding, less words, more space for images, and the info 
                                in a QR Code. QReate makes this happen.
                            </p>
                        </div>
                    </div>
				</div>
            </div>
			<!-- Inner -->
		
			<!-- Controls -->
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselBasicExample" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselBasicExample" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
        <div class="d-none d-md-flex justify-content-between">
            <div class="card text-center col-md-3 col-12 my-3 my-md-0 p-0 features-card">
                <img src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660290504/images%20and%20logos/image_18_rgldnk.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title fw-bold mb-3">Tomiwa, Restaurant owner</h4>
                    <p class="card-text mb-4">
                        Using QReate for my restaurant’s menu and payment has been amazing. 
                        Very good for business.
                    </p>
                </div>
            </div>
            <div class="card text-center col-md-3 col-12 my-3 my-md-0 p-0 features-card">
                <img src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660290500/images%20and%20logos/image_19_tpznmb.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title fw-bold mb-3">Sharon, Event Planner</h4>
                    <p class="card-text mb-4">
                        QReate has help cut a lot of cost and save time with registration. 
                        We scan attendees codes and viola!
                    </p>
                </div>
            </div>
            <div class="card text-center col-md-3 col-12 my-3 my-md-0 p-0 features-card">
                <img src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660290501/images%20and%20logos/image_20_dqex8i.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title fw-bold mb-3">Mark, CEO</h4>
                    <p class="card-text mb-4">
                        Easier branding, less words, more space for images, and the info 
                        in a QR Code. QReate makes this happen.
                    </p>
                </div>
            </div>
        </div>
        
    </div>
    <!-- create qr code section -->
    <div class="row g-0 justify-content-center align-items-center py-md-5 py-3 mb-5 mx-auto" style="width: 90%;">
        <div class="col-md-6">
            <div class="mt-2 mx-auto" style="width: 90%;">
                <h1 class="fw-bold pb-3 lh-base">Want to make <br> magic?</h1>
                <p class="mb-5">
                    Create your unique QR code in less than a minute!
                </p>
                <a
                    href="{% url 'add_qr' %}"
                    class="btn text-white px-4 text-white mb-5 mb-md-0"
                    style="background-color: #20746F; border: none; padding: 10px 10px;">
                    Create a QR code
                </a>
            </div>  
        </div>
        <!-- Illustration -->
        <div class="col-md-6 d-flex justify-content-center align-items-center illustration me-2 me-md-0">
            <img 
                class="img-fluid"
                src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660290466/images%20and%20logos/amico_p4q6sg.svg" 
                alt=""
            />
        </div>
    </div>
  </div>
    


{%endblock%}