{% extends "base.html" %}
{% block title %}Password Reset Sent{% endblock %}
{% block content %}


  <div class="container-fuild">
    <div class="row g-0 justify-content-center align-items-center">
        <!-- Illustration -->
            <div class="col-md-6 d-md-flex justify-content-center align-items-center illustration">
                <img 
                    class="img-fluid"
                    src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660290480/images%20and%20logos/Forgot_password-pana_1_lvf4gj.png" 
                    alt="Forgot Password illustration"
                  />
            </div>

        <!-- Regitration form -->
            <div class="col-md-6">
                <!-- Form Heading -->
                    <div class="text-start mt-2 mx-auto" style="width: 90%;">
                        <h1 class="fw-bold pb-3">Password Reset Sent!</h1>
                        <h3 class="fw-bold pb-3">Don't worry, we've got you.</h3>
                        <p class="pe-5">
                            We've emailed you instructions for setting your password, 
                            if an account exists with the email you entered.
                             You should receive them shortly.<br>If you don't receive an email,
                             please make sure you've entered the address you registered with,
                              and check your spam folder.
                        </p>
                    </div>
            </div>        
    </div>
  </div>
{% endblock %}