{% extends "base.html" %}
{% block title %} Reset your password{% endblock %}
{% block content %}
 <h1>Reset Your Password</h1>
 <hr>
 {% if validlink %}
  <p>Please enter your new password.</p>
  <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <p><input  type="submit"  value="Change my password" ></p>        
            
</form>
{% else %}
    <p>The password reset link was invalid, possibly because it has 
    already been used. Please request a new password reset.</p>
 {% endif %}
 
{% endblock %}