body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
.FAQ-btns{
    border: 2px solid #20746F; 
    border-radius: 5px; 
    width: 90%;
}
.offcanvas-start {
    width: 247px;
}
.dash-img{
    width: 25em;
}
.sidenav-link{
    margin-bottom: 41px;
}
.accordion-button{
    padding: 10px 15px; 
}
.accordion-body{
    padding: 5px 20px;
}
.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #fff;
    box-shadow: none;
}
.hr-lines{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #c8c9ca; 
    line-height: 0.1em;
}
.login-btn{
    background-color: #20746F;
    border-radius: 5px;
    color: white;
    border: none; 
    padding: 10px 0;
}
.google-btn, .apple-btn{
    border: 2px solid #20746F; 
    color:#20746F; 
    background-color: white;
    border-radius: 5px;
    padding: 10px 0;
}
.google-btn > img, .apple-btn > img{
    vertical-align: text-bottom;
}
.active{
    color: #ce2321;
}
@media (max-width: 576px) {
    p{
        font-size: 12px;
    }
    .logo{
        width: 45px;
    }
    .embed{
        font-size: 16px;
    }
    .icon-size{
        margin: auto;
        max-width: 45px;
    }
    .icon-sizes{
        margin: auto;
        height: 61px;
        max-width: 65px;
    }
    .logout{
        height: 13em;
    }
    .card-section{
        width: 80%;
    }
}
@media (max-width: 767px){
    .illustration, .feat{
        max-width: 80%;
    }
    .code-type{
        font-size: 16px;
    }
    .card-wrapper-dash, .dash-card{
        border-radius: 10px;
    }
    .dash-label{
        font-size: 12px;
    }
    .code-img{
        height: 65%;
    }
    .usecase-nav{
        width: 90%;
    }
}
@media (min-width: 576px) {
    .blog-card{
        width: 48%;
    }
    .card-section{
        width: 90%;
    }
}
@media (min-width: 767px){
    .illustration > img{
        width: 80%;
    }
    .dropdown:hover .dropdown-menu{
        display: block;
    }
    .dropdown-toggle::after{
        display: none;
    }
    .hero{
        font-size: 40px;
    }
    .card-wrapper-dash{
        width: 85%;
        border-radius: 40px;
    }
    .dash-card{
        border-radius: 40px;
    }
    .dash-nav{
        width: 75%;
    }
    .features-card, .blog-card{
        width: 31%;
    }
    .usecase-card{
        width: 45%;
    }
    .usecase-nav{
        width: 60%;
    }
}

/*  Resources.blog*/
.search-bar >input{
    width: 80%;
    height: 50px;
    background-image: url(./images-and-logos/icons8-search.svg);
    background-repeat: no-repeat;
    background-position: right;
    border:1px solid #30AEA6;
    border-radius: 5px;
    background-color: #F7FFFE;
    background-origin: content-box;
    padding-right:10%;
}
::placeholder{
    color: #30AEA6;
}
.show-more{
    background-color: #30AEA6;
    color: #fff;
}
.text>div>h1{
    color: #000;
    font-weight: 900;
}
.create-btn{
    color: #fff;
    background-color: #30AEA6; 
    border: none; 
    padding: 10px 10px;
}

/* ResourcesBlog styling*/
