{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
 
  <div class="container-fuild">
    <div class="row g-0 justify-content-center align-items-center">
        <!-- Illustration -->
            <div class="col-md-6 d-md-flex justify-content-center align-items-center illustration">
                <img 
                    class="img-fluid"
                    src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660290480/images%20and%20logos/Forgot_password-pana_1_lvf4gj.png" 
                    alt="Forgot Password illustration"
                  />
            </div>

        <!-- Regitration form -->
            <div class="col-md-6">
                <!-- Form Heading -->
                    <div class="text-start mt-2 mx-auto" style="width: 90%;">
                        <h1 class="fw-bold pb-3">Forgot Your Password?</h1>
                        <h3 class="fw-bold pb-3">Don't worry, we've got you.</h3>
                        <p class="pe-5">
                            Please enter the email address you used in creating 
                            your account, we will send a four-digit code to the 
                            email adddress.
                        </p>
                    </div>
                
                <!-- Form Inputs -->
                <form class="mx-auto pe-md-5" id="form" style="width: 90%;" method="POST">
                {% csrf_token %}
                    <!-- Email -->
                    <div class="mb-4 position-relative">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="text" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
                    </div>
                    <!-- SignUp button -->
                    <button 
                        type="submit"
                        class="container-fluid btn btn-primary mb-3 mt-1"
                        style="background-color: #20746F; border: none; padding: 10px 0;">
                        Send reset instrutions
                    </button>
                    <p class="d-block mb-4 text-end text-dark text-decoration-none"
                        style="font-size: 13px;">
                        Back to <a href="{% url 'login' %}" style="color: #CE2321" class="d-inline text-decoration-none">login</a> 
                    </p>
                </form>
                <!-- Sign In -->
            </div>
        <!-- End of Registration form -->
    </div>
  </div>
{% comment %} 

      <form method="POST">
            {% csrf_token %}

            {{ form.email }}

            
    
            <input  type="submit"  value="Send Email" >
        </form> {% endcomment %}
 {% endblock %}