{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% load static %}

{% block head %}
<style>
    .row{
        --bs-gutter-x: 0rem;
    }
    @media (max-width: 767px){
        .illustration{
            max-width: 70%;
        }
    }
    @media (min-width: 767px){
        .illustration > img{
            width: 80%;
        }
    }
</style>
{% endblock head %}

{% block content %}
<div class="container-fuild">
    <div class="row justify-content-center align-items-center">
        <!-- Illustration -->
            <div class="col-md-6 d-md-flex justify-content-center align-items-center illustration">
                <img 
                    width="100%"
                    src="{% static 'qr_gen/Forgot password-pana 1.png' %}" 
                    alt="Forgot Password illustration">
            </div>

        <!-- Registration form -->
            <div class="col-md-6">
                <!-- Form Heading -->
                    <div class="text-start mt-4 mx-auto w-75">
                        <h1 class="fw-bold fs-1">Forgot Your Password?</h1>
                        <p class="fw-bold fs-3">Don't worry, we've got you.</p>
                        <p class="pe-5">
                           Please enter the email address you used in creating 
                           your account, we will send a four-digit code to the 
                           email adddress.
                        </p>
                    </div>
                
                <!-- Form Inputs -->
                <form class="mx-auto w-75" id="form">
                    {% csrf_token %}
                    <!-- Email -->
                    <div class="mb-4 position-relative">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="text" class="form-control" id="email" aria-describedby="emailHelp">
                        <small style="color: #CE2321" class="position-absolute mb-3 start-0"></small>
                    </div>
                    <!-- SignUp button -->
                    <button 
                        type="submit"
                        class="container-fluid btn btn-primary mb-3"
                        style="background-color: #20746F; border: none; padding: 10px 0;">
                        Send reset instrutions
                    </button>
                    <p class="d-block mb-4 text-end text-dark text-decoration-none"
                        style="font-size: 13px;">
                        Back to <a href="{% url 'login' %}" style="color: #CE2321" class="d-inline text-decoration-none">login</a> 
                    </p>
                </form>
                <!-- Sign In -->

            </div>
        <!-- End of Registration form -->
    </div>
</div>
{% endblock %}


<!-- 
{% block titles %}Reset your password{% endblock %}
{% block contents %}
 <h1>Reset your password</h1>
 <hr>
 <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            
    
            <input  type="submit"  value="Send Email" >
        </form>
 {% endblock %} -->