{% extends "base.html" %}
{% block title %}Features{% endblock %}
{% block content %}

<!-- faq -->
 
<div class="mb-4 mx-auto" id="main" style="width: 90%">
  <div class="text-center text-black mb-4 pt-3">
    <h1 style="color: #20746F;" class="pb-4">Support</h1>
    <h4 style="color: #20746F;" class="pb-2">Frequently Asked Questions</h4>
    <p class="pb-2">
      Here's what you need to know about your Qreate, based on the
      questions we are asked the most.
    </p>
  </div>
  <div class=" me-md-5 mb-2 accordion accordion-flush" id="accordionFlushExample">
    <div class=" me-md-5 mb-2 mx-auto FAQ-btns">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          What is a QR code?
      </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <p class="accordion-body">
          QR codes (Quick Response Codes) are machine-readable
          code consisting of an array of black and white squares, 
          typically used for storing URLs or other information for 
          reading by the camera on a smartphone. 
        </p>
      </div>
    </div>
    <div class=" me-md-5 mb-2 mx-auto FAQ-btns">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          What are the benefits of QR Codes?
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <p class="accordion-body">
          1. QR codes promote sharing and networking. <br>
          2. They can be used as a call-to-action. <br>
          3. They can enhance your SMO and SEO. <br>
          4. They connect your online and offline media. <br>
        </p>
      </div>
    </div>
    <div class=" me-md-5 mb-2 mx-auto FAQ-btns">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Are QR codes free?
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <p class="accordion-body">
          YES, QR codes are free to use.
        </p>
      </div>
    </div>
    <div class=" me-md-5 mb-2 mx-auto FAQ-btns">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          How can I use QR codes for my business?
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <p class="accordion-body">
          You can use it to share your business Information,
          to promote events, It can be placed on your products 
          to enable customers confirm genuity or send feedback etcetera. 
          The list is endless.
        </p>
      </div>
    </div>
    <div class=" me-md-5 mb-2 mx-auto FAQ-btns">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            How do QR codes work?
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
        <p class="accordion-body">
          Your information is embedded into the usually black 
          squares and dots pattern you see and when scanned, 
          the unique pattern is translated into human-readable 
          data i.e your Information.
        </p>
      </div>
    </div>
    <div class=" me-md-5 mb-2 mx-auto FAQ-btns">
      <h2 class="accordion-header" id="flush-headingSix">
        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
            How can I create my own QR code for free?
        </button>
      </h2>
      <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
        <p class="accordion-body">
          QReate allows you create free QR codes that are 
          downloadable and can be shared in 3 easy steps 
          Select data type - Input Information - Customize view and voila!.
        </p>
      </div>
    </div>
    <div class=" me-md-5 mb-2 mx-auto FAQ-btns">
      <h2 class="accordion-header" id="flush-headingSeven">
        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
            What is the safest QR code generator?
        </button>
      </h2>
      <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
        <p class="accordion-body">
          QReate is very safe to use as data is encoded 
          and can only be viewed by the recepients of the generated code. 
        </p>
      </div>
    </div>
    <div class=" me-md-5 mb-2 mx-auto FAQ-btns">
      <h2 class="accordion-header" id="flush-headingEight">
        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
            Are free QR codes safe?
        </button>
      </h2>
      <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
        <p class="accordion-body">
          YES, QRreate’s free codes are very safe.
        </p>
      </div>
    </div>
    <div class=" me-md-5 mb-2 mx-auto FAQ-btns">
      <h2 class="accordion-header" id="flush-headingNine">
        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
            What is the best free QR code generator?
        </button>
      </h2>
      <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
        <p class="accordion-body">
          QReate is one of the best free QR code generators 
          out there with lot’s of customization options 
          and data types to choose from.
        </p>
      </div>
    </div>
  </div>	
</div>


  <!-- support page -->
  <div class=" container text-center text-black mb-3 pt-4">
    <h4 style="color: #20746F;" class="pb-2">Contact Form</h4>
    <p class="pb-2">
      No answer to your question still? Not to worry, 
      drop us a message and we will get back to you.
    </p>
  </div>
  <div id="main-section" class="pb-5 pt-2 mx-auto" style="width: 90%;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-12">
                <img src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660290473/images%20and%20logos/Contact_us-cuate_1_nnnozi.png" alt="contact-image" class="img-fluid">
            </div>
            <div class="col-md-6 col-sm-12">
                <form method="POST" action="{% url 'support' %}">
				 {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" class="form-control" id="exampleInputName" placeholder="Name"  name="name" required>
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" aria-describedby="emailHelp"  name="email" required>
                    </div>
                    <div class="mb-3">
                        <textarea rows="8" class="form-control" rows="30" placeholder="Leave a comment here" name="message" required></textarea>
                    </div>
                    <div class="text-end">
                      <button type="submit" class="btn text-white ms-auto" style="background-color: #20746F;">Submit</button>
                    </div>
                </form>
            </div>
        </div>
   </div> 
</div>













{% comment %} 

			    <form class="contact-form" method="POST" action="{% url 'support' %}">
                    {% csrf_token %}
                    <div class="form-group">
				        <label class="control-label col-sm-2" for="name">Name:</label>
				        <div class="col-sm-10">          
					        <input type="text" class="form-control" id="name" placeholder="Enter Your Name" name="name">
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="control-label col-sm-2" for="email">Email:</label>
				        <div class="col-sm-10">
					        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="control-label col-sm-2" for="message">Message:</label>
				        <div class="col-sm-10">
					        <textarea class="form-control" rows="5" id="message" name="message"></textarea>
				        </div>
				    </div>
				    <div class="form-group">        
				        <div class="col-sm-offset-2 col-sm-10">
					        <button type="submit" class="btn btn-default">Submit</button>
				        </div>
				    </div>
			    </form> {% endcomment %}

{% endblock %}