{% extends "base.html" %}

{% block title %}Show QRCode{% endblock %}
{% block content %}


<h1>Show Qrcode</h1>

{% if qr_list %}
 {% for items in qr_list %}

  <img  src={{items.webqr_code.url}}>
    {% comment %} <p class="">{{items.name}}</p> {% endcomment %}
    {{items.name}}
    <a href="{{items.webqr_code.url}}" download>download file in png</a>
    <a href="{% url 'qr_pdf' items.pk %} " ><button class="btn btn-secondary">download pdf</button></a>
{% endfor %}
  
{% else %}
<h5> You are yet to generate a Qr code</h5>
{% endif %}


{% endblock %}