{% extends "base.html" %}
{% block title %}User Cases{% endblock %}
{% block content %}

<div class="container-fluid">
    <!--Intro section-->
    <section class="row g-0 mt-3 justify-content-center align-items-center">
        <!-- hero text -->
        <div class="col-md-6">
            <div class="mx-auto" style="width: 90%;">
                <h1 class="fw-bolder lh-base hero">
                    It's a gigantic world of QR!
                </h1>
                <p class="fw-bold lh-base mt-2 pt-2"> 
                    QR codes are the way of the future, and there is nothing anyone can do about it. 
                    What you can do though, is to join the futuristic train! We're moving forward and we want you to join us.
                </p>
                <div class="mt-4 mb-5">
                    <a href="support.html" class="btn me-3 text-light" style="background-color: #30AEA6;">
                        Learn about QR Codes
                    </a>
                </div>
            </div>
        </div>
        <!-- Illustration -->
        <div class="intro_qr col-md-6 d-md-flex justify-content-center align-items-center illustration">
            <img 
              src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660290501/images%20and%20logos/image_9_jajony.png" 
              alt="qr background" 
              class="img-fluid"
            />
        </div> 
    </section>
    <!--Use case section-->
    <section class="row g-0 mt-3 justify-content-center align-items-center">
        <!-- heading -->
        <div class="mx-auto mt-5 text-center" style="width: 90%;">
            <h1 class="fw-bold">
                Use Cases For QR Codes
            </h1>
            <h6 class="mb-5">
                Let us help you get started on how and where to use QR codes.
            </h6>
        </div>
        <!-- nav bar -->
        <div class="mx-auto mb-2 mb-lg-0 usecase-nav">
            <div class="text-center">
                <ul class="list-unstyled d-flex justify-content-evenly align-items-start flex-wrap">
                    <li class="usecase_item mx-2 mb-3 mb-md-0">
                        <a class="usecase_item_item text-decoration-none text-secondary" data-bs-toggle="collapse" href="#multiCollapse0" 
                            aria-expanded="false" aria-controls="multiCollapse" role="button">
                            Business
                        </a>
                    </li>

                    <li class="usecase_item mx-2 mb-3 mb-md-0">
                        <a class="usecase_item_item text-decoration-none text-secondary" data-bs-toggle="collapse" href="#multiCollapse1" 
                         data-target="#multiCollapse1" aria-expanded="false" aria-controls="multiCollapse1" role="button"> 
                         Entertainment & Events
                        </a>
                    </li>

                    <li class="usecase_item mx-2">
                        <a class="usecase_item_item text-decoration-none text-secondary" data-bs-toggle="collapse" href="#multiCollapse2"
                         data-target="#multiCollapse2" aria-expanded="false" aria-controls="multiCollapse2" role="button">
                         Print
                        </a>
                    </li>

                    <li class="usecase_item mx-2">
                        <a class="usecase_item_item text-decoration-none text-secondary" data-bs-toggle="collapse" href="#multiCollapse3"
                          data-target="#multiCollapse3" aria-expanded="false" aria-controls="multiCollapse3" role="button">
                          Personal Use
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--Usecase examples explained section-->
        <!--Business Section-->
        <section class="collapse show multi-collapse" id="multiCollapse0">
            <div class="row g-0 justify-content-between my-3 mb-md-5 mx-auto card-section">
                <div class="card text-center col-md-6 mb-5 usecase-card">
                    <img src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660290492/images%20and%20logos/image_7_hktlcf.png" class="img-fluid" alt="QR image">
                    <div class="card-body">
                        <h4 class="card-title fw-bold mb-3">Services and Rate Cards</h4>
                        <p class="card-text mb-4">
                            In today's fast paced business world, use 
                            QR codes' remarkable features to enable smooth service delivery in your business.
                        </p>
                        <a href="#" class="btn mb-3 text-light" style="background-color: #30AEA6;">Learn More</a>
                    </div>
                </div>
                <div class="card text-center col-md-6 mb-5 usecase-card">
                    <img src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660290486/images%20and%20logos/image_8_nwcoei.png" class="img-fluid" alt="QR image">
                    <div class="card-body">
                        <h4 class="card-title fw-bold mb-3">Payment</h4>
                        <p class="card-text mb-4">
                            Using QR codes as a payment mechanism is significantly faster and easier than using debit cards 
                            and it contributes to the cashless society movement.
                        </p>
                        <a href="#" class="btn mb-3 text-light" style="background-color: #30AEA6;">Learn More</a>
                    </div>
                </div>
                <div class="card text-center mx-auto col-md-12 mb-2 usecase-card">
                    <img src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660290490/images%20and%20logos/image_10_zcjo8x.png" class="img-fluid" alt="QR image">
                    <div class="card-body">
                        <h4 class="card-title fw-bold mb-3">Branding and Packaging</h4>
                        <p class="card-text mb-4">
                            A QR code on the package can let your customer know what to expect before they open it, 
                            and you can also include additional information about other products and services.
                        </p>
                        <a href="#" class="btn mb-3 text-light" style="background-color: #30AEA6;">Learn More</a>
                    </div>
                </div>
            </div>
        </section>

         <!--Entertainment and Events Section-->
        <section class="collapse multi-collapse" id="multiCollapse1">
            <div class="row g-0 justify-content-between my-3 mb-md-5 mx-auto card-section">
                <div class="card text-center col-md-6 mb-5 usecase-card">
                    <img src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660290490/images%20and%20logos/image_11_utq15r.png" class="img-fluid" alt="QR image">
                    <div class="card-body">
                        <h4 class="card-title fw-bold mb-3">Music Sharing</h4>
                        <p class="card-text mb-4">
                            Are you a music artiste looking for an easier way to share your music?
                            Or you just have a large heart and love to curate playlists for people to enjoy? A simple scan can give everyone access to your music or playlist, 
                            anywhere around the globe. 
                        </p>
                        <a href="#" class="btn mb-3 text-light" style="background-color: #30AEA6;">Learn More</a>
                    </div>
                </div>
                <div class="card text-center col-md-6 mb-5 usecase-card">
                    <img src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660381823/images%20and%20logos/event2_y5n5iy.png" class="img-fluid" alt="QR image">
                    <div class="card-body">
                        <h4 class="card-title fw-bold mb-3">Event Registration</h4>
                        <p class="card-text mb-4">
                            We know you love hosting events and we know you also do not like long  queues at the registration stand. 
                                    A QR code to verify registered attendees will go a long way in saving time and money, and give you a smooth running event, just like you planned.
                        </p>
                        <a href="#" class="btn mb-3 text-light" style="background-color: #30AEA6;">Learn More</a>
                    </div>
                </div>
            </div>
        </section>

        <!--Print Section-->
        <section class="collapse multi-collapse" id="multiCollapse2">
            <div class="row g-0 justify-content-center my-3 mb-md-5 mx-auto card-section">
                <div class="card text-center col-md-6 mb-5 usecase-card">
                    <img src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660381821/images%20and%20logos/mag_q0nbt4.png" class="img-fluid" alt="QR image">
                    <div class="card-body">
                        <h4 class="card-title fw-bold mb-3">Magazines</h4>
                        <p class="card-text mb-4">
                            Minimize printing costs by adding QR codes to your paperback magazines. 
                            This is also a great tool to help build traffic on your website.
                        </p>
                        <a href="#" class="btn mb-3 text-light" style="background-color: #30AEA6;">Learn More</a>
                    </div>
                </div>
            </div>
        </section>

        <!--Personal Use section-->
        <section class="collapse multi-collapse" id="multiCollapse3">
            <div class="row g-0 justify-content-between my-3 mb-md-5 mx-auto card-section">
                <div class="card text-center col-md-6 mb-5 usecase-card">
                    <img src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660381819/images%20and%20logos/social_mtli9v.png" class="img-fluid" alt="QR image">
                    <div class="card-body">
                        <h4 class="card-title fw-bold mb-3">Social Media</h4>
                        <p class="card-text mb-4">
                            Save yourself the stress of having to spell out all your social media handles everytime you meet someone new. 
                            With a QR code, you can have all your social media handles in a code and share just once.
                        </p>
                        <a href="#" class="btn mb-3 text-light" style="background-color: #30AEA6;">Learn More</a>
                    </div>
                </div>
                <div class="card text-center col-md-6 mb-5 usecase-card">
                    <img src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660382260/images%20and%20logos/resume_ss3gpd.png" class="img-fluid" alt="QR image">
                    <div class="card-body">
                        <h4 class="card-title fw-bold mb-3">Digital Resume</h4>
                        <p class="card-text mb-4">
                            Get creative with your job search, 
                            add a QR code on your resume that links an introduction video and a presentation of ypur qualifications, 
                            or a more detailed PDF file of your qualifications.
                        </p>
                        <a href="#" class="btn mb-3 text-light" style="background-color: #30AEA6;">Learn More</a>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!--Create a QR Code section-->
    <section class="row g-0 justify-content-center align-items-center py-md-5 py-3 mb-5 mx-auto" style="width: 90%;">
      <div class="col-md-6">
          <div class="mt-2 mx-auto" style="width: 90%;">
              <h1 class="fw-bold pb-3 lh-base">Want to make <br> magic?</h1>
              <p class="mb-5">
                  Create your unique QR code in less than a minute!
              </p>
              <a
                  href="create.html"
                  class="btn text-white px-4 text-white mb-5 mb-md-0"
                  style="background-color: #20746F; border: none; padding: 10px 10px;">
                  Create a QR code
              </a>
          </div>  
      </div>
      <!-- Illustration -->
      <div class="col-md-6 d-flex justify-content-center align-items-center illustration me-2 me-md-0">
          <img 
              class="img-fluid"
              src="https://res.cloudinary.com/dwpitpl9n/image/upload/v1660290466/images%20and%20logos/amico_p4q6sg.svg" 
              alt=""
          />
      </div>
    </section>  
</div>


{% endblock %}